*\.deps
*\.deps
*\.dirstamp
*\.doctrees
*\.exe
*\.gz
*\.rpm
*\.log
*\.libs
*\.o
*\.lo
*\.la
*\.a
*\.swp
*\.trs
*\.xml
*\~
*\Makefile
*\Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/ar-lib
config/compile
config/config.guess
config/config.h
config/config.h.in
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/stamp-h1
configure
doc/manual.html
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
sysbench/sysbench
